@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v20-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v20-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v20-latin-700.woff2") format("woff2");
}

/* Базові стилі */
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}
ul {
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1e1e1e;
  background-color: #ffffff;
  line-height: 1.8;
  margin: 0;
}
/* address задаємо до усього тексту в цьому тегові */
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
/* тут для усіх  section ми заносимо стилі, які є одинакові для усіх секцій   */
.Section {
  padding: 48px 0;
}
/* завдаємо секціям потрібну нам ширину */
.container {
  width: 100%;
  max-width: 1488px;
  margin: 0 auto;
  padding: 0 24px;
}
/* колір фону позаду логотипу і корзини */
.color-logoHeader {
  font-weight: 700;
  font-size: 28px;
  color: white;
  text-decoration: none;
}
.color-logoFooter {
  font-weight: 700;
  font-size: 28px;
  color: white;
  text-decoration: none;
  color: rgba(10, 10, 10, 80%);
}
/* Шапка сайту HEADER */
header {
  width: 100%;
  background-color: rgba(10, 10, 10, 80%);
  position: fixed;
  z-index: 400;
}
.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 9px;
}

.menu-link {
  display: flex;
  padding: 20px 75px 20px 0px;
  padding-left: 0px;
  margin: 0;
  gap: 141px;
}

.link {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: none;
  color: white;
}

/* Секція з головним заголовком */
.hero-section {
  padding: 161px 0;
  background-image: url("../image/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 1084px;
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.3;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
/* текст під головним аголовком */
.hero-text {
  font-size: 24px;
  color: #ffffff;
  line-height: 1.6;
  text-align: center;
  max-width: 589px;
  margin: 0 auto;
}
/* загальні Стилі усіх заголовків у секціях */
.title-one {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 16px;
}
/* Розділ наші переваги після головної секції */

.advanteges-title {
  margin-bottom: 0;
}
.title-two {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.advanteges-text {
  font-size: 16px;
  margin-bottom: 0;
}
.advantages-flex {
  display: flex;
  padding-left: 10px;
  gap: 50px;
}
.two-flex {
  display: flex;
  flex-grow: 1;
  align-items: end;
  gap: 24px;
}
.nazar {
  display: flex;
  width: 653px;
  align-items: end;
}

/* Розділ магазину */
.shop-section {
  background-color: #f7f7f7;
  padding-bottom: 135px;
}
.Shop-title {
  margin-bottom: 96px;
  text-align: center;
}

.text-cards {
  font-size: 16px;
  padding-left: 20px;
  margin-bottom: 2px;
}

.title-cards {
  font-weight: 600;
  font-size: 21px;
  line-height: 1.2;
  padding-left: 20px;
  margin-bottom: 55px;
}
.price-cards {
  font-weight: 600;
  font-size: 21px;
  padding-left: 20px;
  margin-bottom: 0;
}

/* пробую розробляти картку */
.shop-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 42px;
  padding-left: 0;
  margin: 0;
}
.image {
  display: block;
  margin: 0 auto;
  margin-bottom: 65px;
}
.box-one {
  position: absolute;
  z-index: 3;
}

.chang-size {
  height: 255.9px;
}

.items-shop {
  flex-basis: calc((100% - 126px) / 4);
  transition: 0.4s ease;
}
.items-shop:hover {
  transform: translateY(-10px) scale(1.07);
  cursor: pointer;
}

.shop-card {
  /* при flex-basis ширину не вказувати. ВАЖЛИВО бо не буде розтягуватися на увесь екран картки */
  /* max-width: 268.09px; */
  height: 492px;
  border-radius: 5px;
}

.shop-card::after {
  content: "";
  width: 294.25px;
  height: 440px;
  background-image: linear-gradient(#fafafa 55%, #ffffff 55%, #ffffff 100%);
  margin-top: 52px;
  border-radius: 30px;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 0px 17px -10px rgb(50, 50, 48);
}

/* Оранжевий текст */
.section-us {
  padding-bottom: 125px;
  padding-top: 297px;
}
.orange-text {
  color: orange;
  text-transform: uppercase;
  font-weight: 600;
}

.us-flexOne {
  display: flex;
  align-items: start;
  gap: 138px;
}
.us-firstFlex {
  padding-top: 15px;
  flex-grow: 1;
}

.us-flexTwo {
  display: flex;
  padding-top: 235px;
  padding-bottom: 200px;
  align-items: flex-end;
}
.display-block {
  padding-left: 55px;
  align-self: center;
}

.us-Flexlittle {
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin: 0 39px 0 50px;
}

.img-shadowOne {
  box-shadow: 0px 59px 47px -39px rgb(213 214 209);
}
.img-shadowTwo {
  box-shadow: 0px 56px 47px -39px rgb(169 146 115);
}


/* our clients CARDs */
.text-overTitle {
  text-align: center;
}

.clients-title {
  margin-bottom: 40px;
  text-align: center;
}
.clients-name {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 6px;
  text-align: center;
}

.clients-text {
  font-size: 15px;
  line-height: 1.2;
  width: 252px;
  margin: 0 auto;
  text-align: center;
}
.who-they {
  font-size: 12px;
  font-weight: 1.2;
  text-align: center;
}
.us-flexThree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  padding-left: 0;
  margin: 0;
}

.clientsCard-one {
  width: 370px;
  height: 506px;
  padding-top: 315px;
  background-image: url(../image/bong-upin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 59px 47px -39px rgb(213 214 209);
  border-radius: 20px;
  position: relative;
  transition: 0.4s ease;
}

.clientsCard-one:hover {
  transform: translateX(-30px) scale(1.03);
  cursor: pointer;
}

.clientsCard-two {
  width: 370px;
  height: 506px;
  padding-top: 315px;
  background-image: url(../image/ilbuk-sukijan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 59px 47px -39px rgb(213 214 209);
  border-radius: 20px;
  position: relative;
  transition: 0.4s ease;
}
.clientsCard-two:hover {
  transform: translateX(0px) scale(1.06);
  cursor: pointer;
}

.clientsCard-three {
  width: 370px;
  height: 506px;
  padding-top: 315px;
  background-image: url(../image/mpok-ina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 59px 47px -39px rgb(213 214 209);
  border-radius: 20px;
  position: relative;
  transition: 0.4s ease;
}
.clientsCard-three:hover {
  transform: translateX(30px) scale(1.03);
  cursor: pointer;
}

.clientsCard-one::after {
  content: "";
  width: 334px;
  height: 218px;
  margin-left: 17px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  z-index: 100;
}

.clientsCard-two::after {
  content: "";
  width: 334px;
  height: 218px;
  margin-left: 17px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  z-index: 100;
}
.clientsCard-three::after {
  content: "";
  width: 334px;
  height: 218px;
  margin-left: 17px;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  z-index: 100;
}

.about-client {
  width: 370px;
  position: absolute;
  z-index: 200;
}
.client-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -67px;
  left: 159px;
  z-index: -1;
  box-shadow:
    0px 3px 5px 2px rgb(187, 187, 189),
    0px 6px 0px 11px #ffffff;
}

/* робота над футером */
footer {
  background-color: #f7f7f7;
}

.footer-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 0;
  width: 293px;
}
.orange-footer {
  color: orange;
  font-size: 17px;
}
.link-footer {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  text-decoration: none;
  color: black;
  margin-bottom: 0px;
}

.footer-One {
  display: flex;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 124px 0 70px 0;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 124px;
}
.footer-nav > ul {
  margin: 0;
  padding: 0;
}

.address > ul {
  margin: 0;
  padding: 0;
}

.Copyright {
  display: flex;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 0;
}


.copiright-one {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 40px;
}
